# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

# Ignore Firebase credentials (Sensitive file)
customer/customer-serviceAccountKey.json
inventory/inventory-serviceAccountKey.json
order/serviceAccountKey.json
chathistory/serviceAccountKey.json

# Ignore environment files
customer/.env
inventory/.env
order/.env
structure.txt
